<h1>Editing exercise</h1>

<% form_for(@exercise, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
    <%= file_column_field "exercise", "image1" %>
    <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
    <%= file_column_field "exercise", "image2" %>

    <p>
      <%= f.label :how_to %><br />
      <%= f.text_area :how_to %>
  </p>

    <p>
    <%= f.label :how_not_to %><br />
    <%= f.text_area :how_not_to %>
  </p>
    <p>
    <%= f.label :info %><br />
    <%= f.text_area :info%>
  </p>
      <p>
    <%= f.label :exercise_type%><br />
    <%= f.text_field :exercise_type%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>